# Maven
target/

# Gradle
build/
.gradle/

# Compiled class files
*.class

# Packaged files
*.jar
*.war
*.ear

# Logs
*.log 

# Mac (since you are on Mac)
.DS_Store

# IDE
.idea/
*.iml
.vscode/

# Sensitive / Local files
.env
*.log
*.bak
cookies.txt

